<p>studenttdf : Template Driven Form</p>

<!-- Template Driver form-->
<div class="container">
    <form #StudentForm="ngForm"> 
      <!--we will create vertical form-->  
        <div class="form-group">
            <label >Student Name</label>
            <input type="text" ngModel name="studentName" placeholder="Please enter name" class="form-control">
        </div>
        <div class="form-group">
            <label >Email</label>
            <input type="email"ngModel name="studentEmail" placeholder="Please enter your email Id" class="form-control">
        </div>
               <!-- we will use *ngFor to fetch the list from array -->
       <select class="custom-select" ngModel name="studentSubject"> 
           <option *ngFor="let subject of subjects">{{subject}}</option>
       </select >
       <br>
        <!-- we will creagte radio button -->
        <div class="form-group">
            <label>Gender</label>
            <input type="radio" ngModel name ="gender" value="M"/> Male
            <input type="radio"  ngModel  name ="gender" value="f"/> female
        </div>
        <div> 
        <label>Cities Lived In</label>
        <input type="checkbox"  ngModel  name="city1" value="flr"/>Florida
        <input type="checkbox" ngModel  name="city2" value="ken"/>Kentucky
        <input type="checkbox" ngModel  name="city3" value="con"/>Conneticut
        </div>
        <button class="btn btn-primary"> submit</button> 
    </form>

</div>

{{StudentForm.value | json}}