<p>boottest works!</p>
<div class="container">
    <ul class="list-group" style="width:50%">
        <li class="list-group-item list-group-item-success">Badal</li>
        <li class="list-group-item list-group-item-info">Sheetal</li>
        <li class="list-group-item list-group-item-success">Ramesh</li>
        <li class="list-group-item list-group-item-danger">Saroj</li>
    </ul>
</div>

<div class="container"> 
    <table class="table table-striped" >
        <tr><th>Firstname</th><th>Lastname</th> <th>Age</th> </tr>
        <tr><td>Jill</td> <td>Smith</td><td>50</td></tr>
        <tr><td>Eve</td><td>Jackson</td> <td>94</td></tr>
        <tr> <td>John</td> <td>Doe</td><td>80</td></tr>
      </table>
</div>