<p>boottest works!</p>
<form class="form-inline">
    <div class="form-group">
    <label>User Name</label>
    <input type="text" value="User Name" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" value="Password" class="form-control">
        </div>

        <div class="form-group">
            <button type="button" class="btn-info"> Button Botostrap</button>
            </div>
</form>



<div class="container">
    <button class="btn-primary"> Button Botostrap</button>
    <button type="button" class="btn-info"> Button Botostrap</button>
   <input type ="button" value="button"> 
    <button type="button" value="login" class="btn btn-danger btn-lg"> Login</button>
  
  </div>


<div class="container">
  <button class="btn-primary"> Button Botostrap</button>
  <button type="button" class="btn-info"> Button Botostrap</button>
 <input type ="button" value="button"> 
  <button class="btn-danger"> Button Botostrap</button>

</div>


<div class="container">
    <ul class="list-group" style="width:50%">
        <li class="list-group-item list-group-item-success">Badal</li>
        <li class="list-group-item list-group-item-info">Sheetal</li>
        <li class="list-group-item list-group-item-success">Ramesh</li>
        <li class="list-group-item list-group-item-danger">Saroj</li>
    </ul>
</div>

<div class="container"> 
    <table border=3 class="table " >
        <tr><th>Firstname</th><th>Lastname</th> <th>Age</th> </tr>
        <tr><td>Jill</td> <td>Smith</td><td>50</td></tr>
        <tr><td>Eve</td><td>Jackson</td> <td>94</td></tr>
        <tr> <td>John</td> <td>Doe</td><td>80</td></tr>
      </table>
</div>